---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/duguy8/little-esty-shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5af6ed724a1a28cffbe8ad9bdc6714fa4c4d19ed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c06fe619b77daef274a9296784050f48dd73e8d7e75d13260c9222530bf307f"
      Last-Modified:
      - Thu, 04 Mar 2021 23:39:33 GMT
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, repo, user, workflow
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1615059552'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"id":341373977,"node_id":"MDEwOlJlcG9zaXRvcnkzNDEzNzM5Nzc=","name":"little-esty-shop","full_name":"duguy8/little-esty-shop","private":false,"owner":{"login":"duguy8","id":56943408,"node_id":"MDQ6VXNlcjU2OTQzNDA4","avatar_url":"https://avatars.githubusercontent.com/u/56943408?v=4","gravatar_id":"","url":"https://api.github.com/users/duguy8","html_url":"https://github.com/duguy8","followers_url":"https://api.github.com/users/duguy8/followers","following_url":"https://api.github.com/users/duguy8/following{/other_user}","gists_url":"https://api.github.com/users/duguy8/gists{/gist_id}","starred_url":"https://api.github.com/users/duguy8/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/duguy8/subscriptions","organizations_url":"https://api.github.com/users/duguy8/orgs","repos_url":"https://api.github.com/users/duguy8/repos","events_url":"https://api.github.com/users/duguy8/events{/privacy}","received_events_url":"https://api.github.com/users/duguy8/received_events","type":"User","site_admin":false},"html_url":"https://github.com/duguy8/little-esty-shop","description":null,"fork":true,"url":"https://api.github.com/repos/duguy8/little-esty-shop","forks_url":"https://api.github.com/repos/duguy8/little-esty-shop/forks","keys_url":"https://api.github.com/repos/duguy8/little-esty-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/duguy8/little-esty-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/duguy8/little-esty-shop/teams","hooks_url":"https://api.github.com/repos/duguy8/little-esty-shop/hooks","issue_events_url":"https://api.github.com/repos/duguy8/little-esty-shop/issues/events{/number}","events_url":"https://api.github.com/repos/duguy8/little-esty-shop/events","assignees_url":"https://api.github.com/repos/duguy8/little-esty-shop/assignees{/user}","branches_url":"https://api.github.com/repos/duguy8/little-esty-shop/branches{/branch}","tags_url":"https://api.github.com/repos/duguy8/little-esty-shop/tags","blobs_url":"https://api.github.com/repos/duguy8/little-esty-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/duguy8/little-esty-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/duguy8/little-esty-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/duguy8/little-esty-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/duguy8/little-esty-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/duguy8/little-esty-shop/languages","stargazers_url":"https://api.github.com/repos/duguy8/little-esty-shop/stargazers","contributors_url":"https://api.github.com/repos/duguy8/little-esty-shop/contributors","subscribers_url":"https://api.github.com/repos/duguy8/little-esty-shop/subscribers","subscription_url":"https://api.github.com/repos/duguy8/little-esty-shop/subscription","commits_url":"https://api.github.com/repos/duguy8/little-esty-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/duguy8/little-esty-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/duguy8/little-esty-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/duguy8/little-esty-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/duguy8/little-esty-shop/contents/{+path}","compare_url":"https://api.github.com/repos/duguy8/little-esty-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/duguy8/little-esty-shop/merges","archive_url":"https://api.github.com/repos/duguy8/little-esty-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/duguy8/little-esty-shop/downloads","issues_url":"https://api.github.com/repos/duguy8/little-esty-shop/issues{/number}","pulls_url":"https://api.github.com/repos/duguy8/little-esty-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/duguy8/little-esty-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/duguy8/little-esty-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/duguy8/little-esty-shop/labels{/name}","releases_url":"https://api.github.com/repos/duguy8/little-esty-shop/releases{/id}","deployments_url":"https://api.github.com/repos/duguy8/little-esty-shop/deployments","created_at":"2021-02-23T00:06:53Z","updated_at":"2021-03-04T23:39:33Z","pushed_at":"2021-03-04T23:39:30Z","git_url":"git://github.com/duguy8/little-esty-shop.git","ssh_url":"git@github.com:duguy8/little-esty-shop.git","clone_url":"https://github.com/duguy8/little-esty-shop.git","svn_url":"https://github.com/duguy8/little-esty-shop","homepage":null,"size":1200,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":14,"license":null,"forks":2,"open_issues":14,"watchers":1,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"delete_branch_on_merge":false,"parent":{"id":313663245,"node_id":"MDEwOlJlcG9zaXRvcnkzMTM2NjMyNDU=","name":"little-esty-shop","full_name":"turingschool-examples/little-esty-shop","private":false,"owner":{"login":"turingschool-examples","id":8518346,"node_id":"MDEyOk9yZ2FuaXphdGlvbjg1MTgzNDY=","avatar_url":"https://avatars.githubusercontent.com/u/8518346?v=4","gravatar_id":"","url":"https://api.github.com/users/turingschool-examples","html_url":"https://github.com/turingschool-examples","followers_url":"https://api.github.com/users/tu[...]
- request:
    method: get
    uri: https://api.github.com/repos/duguy8/little-esty-shop/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5af6ed724a1a28cffbe8ad9bdc6714fa4c4d19ed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b1b33105d7fb40ac14c44435f6ca6219112df49b32f9d776548e33274634a1f6"
      Last-Modified:
      - Thu, 04 [...]
- request:
    method: get
    uri: https://api.github.com/repos/duguy8/little-esty-shop/pulls?state=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5af6ed724a1a28cffbe8ad9bdc6714fa4c4d19ed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"26bea03b90f01cd1bcc92ee6e74c70e9a9a1b5bcc53b5261453f8094ebff4a68"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, repo, user, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1615059552'
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/duguy8/little-esty-shop/pulls/56","id":584418608,"node_id":"MDExOlB1bGxSZXF1ZXN0NTg0NDE4NjA4","html_url":"https://github.com/duguy8/little-esty-shop/pull/56","diff_url":"https://github.com/duguy8/little-esty-shop/pull/56.diff","patch_url":"https://github.com/duguy8/little-esty-shop/pull/56.patch","issue_url":"https://api.github.com/repos/duguy8/little-esty-shop/issues/56","number":56,"state":"closed","locked":false,"title":"Complete
        all api stories and tests","user":{"login":"Trevor-Robinson","id":72584659,"node_id":"MDQ6VXNlcjcyNTg0NjU5","avatar_url":"https://avatars.githubusercontent.com/u/72584659?v=4","gravatar_id":"","url":"https://api.github.com/users/Trevor-Robinson","html_url":"https://github.com/Trevor-Robinson","followers_url":"https://api.github.com/users/Trevor-Robinson/followers","following_url":"https://api.github.com/users/Trevor-Robinson/following{/other_user}","gists_url":"https://api.github.com/users/Trevor-Robinson/gists{/gist_id}","starred_url":"https://api.github.com/users/Trevor-Robinson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Trevor-Robinson/subscriptions","organizations_url":"https://api.github.com/users/Trevor-Robinson/orgs","repos_url":"https://api.github.com/users/Trevor-Robinson/repos","events_url":"https://api.github.com/users/Trevor-Robinson/events{/privacy}","received_events_url":"https://api.github.com/users/Trevor-Robinson/received_events","type":"User","site_admin":false},"body":"Complete
        all api user stories\r\n\r\nTest all api user stories\r\n\r\nAdd github authentication","created_at":"2021-03-04T01:41:35Z","updated_at":"2021-03-04T01:43:33Z","closed_at":"2021-03-04T01:43:31Z","merged_at":"2021-03-04T01:43:31Z","merge_commit_sha":"190d2af6064eb0018049a3d39d00c6f9264f1f9e","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/duguy8/little-esty-shop/pulls/56/commits","review_comments_url":"https://api.github.com/repos/duguy8/little-esty-shop/pulls/56/comments","review_comment_url":"https://api.github.com/repos/duguy8/little-esty-shop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/duguy8/little-esty-shop/issues/56/comments","statuses_url":"https://api.github.com/repos/duguy8/little-esty-shop/statuses/0a4663b72c29e9cb324bb967857a107ae0115f72","head":{"label":"duguy8:api_stories","ref":"api_stories","sha":"0a4663b72c29e9cb324bb967857a107ae0115f72","user":{"login":"duguy8","id":56943408,"node_id":"MDQ6VXNlcjU2OTQzNDA4","avatar_url":"https://avatars.githubusercontent.com/u/56943408?v=4","gravatar_id":"","url":"https://api.github.com/users/duguy8","html_url":"https://github.com/duguy8","followers_url":"https://api.github.com/users/duguy8/followers","following_url":"https://api.github.com/users/duguy8/following{/other_user}","gists_url":"https://api.github.com/users/duguy8/gists{/gist_id}","starred_url":"https://api.github.com/users/duguy8/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/duguy8/subscriptions","organizations_url":"https://api.github.com/users/duguy8/orgs","repos_url":"https://api.github.com/users/duguy8/repos","events_url":"https://api.github.com/users/duguy8/events{/privacy}","received_events_url":"https://api.github.com/users/duguy8/received_events","type":"User","site_admin":false},"repo":{"id":341373977,"node_id":"MDEwOlJlcG9zaXRvcnkzNDEzNzM5Nzc=","name":"little-esty-shop","full_name":"duguy8/little-esty-shop","private":false,"owner":{"login":"duguy8","id":56943408,"node_id":"MDQ6VXNlcjU2OTQzNDA4","avatar_url":"https://avatars.githubusercontent.com/u/56943408?v=4","gravatar_id":"","url":"https://api.github.com/users/duguy8","html_url":"https://github.com/duguy8","followers_url":"https://api.github.com/users/duguy8/followers","following_url":"https://api.github.com/users/duguy8/f[...]
