<div class="container">
<h1>Admins Merchant Index</h1>
<%= link_to "Create a new Merchant", new_admin_merchant_path %>
<%= render partial: "top_merchants", locals: { merchants: @merchants } %><br>
<%= render partial: "merchants", locals: { merchants: @merchants } %>
</div>
