<ul>
  <% merchant.discounts.each do |discount| %>
    <li><%= link_to "#{discount.name}", merchant_discount_path(merchant, discount) %>
    Quantity Threshold: <%= discount.quantity_threshold %>,
    Percentage Discount: <%= discount.percentage_discount %></li>
  <% end %>
</ul>
