<section class="upcoming_holidays">
  <center>
  <h3>Upcoming US Holidays: </h3>
    <ul>
      <% holidays.each do |holiday| %>
        <p><%= holiday.name %>
        on: <%= holiday.date %></p>
      <% end %>
    </ul>
    </center>
</section>
