<div class="container">
  <h3>Customers</h3>

  <center>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-hover">
     <thead>
       <tr>
         <th>Customer Name</th>
         <th>Successful Transactions</th>
       </tr>
      </thead>
    <tbody>
<section id="top-customers">
  <% merchant.find_top_customers.each do |customer| %>
    <div id="customer-<%= customer.id %>">
    <tr><td><%= customer.first_name %>
    <%= customer.last_name %></td>
    <td>Successful Transactions: <%= customer.transaction_count %></td></tr>
    </div>
  <% end %>
  <div class="cl"></div>
  </tbody>
  </table>
  </div>
  </div>
  </section>
  </div>
